body{
    background-color: rgba(9, 180, 9, 0.87);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el {
font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 2px;
    margin-bottom: 5px;
}